.containers{
  width: 90%;
  margin: 0 auto;
  position: relative;
  .card{
    margin: 20px 30px !important;
    .txt{
      position: absolute;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100%;
      width: 100%;
    }
  }
}
