<section class="partners">
  <div class="containers">
    <owl-carousel-o [options]="customOptions">
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
      <ng-template carouselSlide>
        <div class="card">
          <img src="assets/images/menshirt.png" alt="mensuit">
        </div>
      </ng-template>
    </owl-carousel-o>
  </div>
</section>

<section>


</section>
