@import '../../../../styles.scss';
.bannerPar {
  margin-top: 90px;
  .banner {
    height: 600px;
    width: 100%;
    background-image: url("/assets/images/bannerImg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 30px 100px;
    color: $primary;
    .txt {
      h1 {
        font-size: 80px;
        font-family: fantasy;
      }
      p {
        font-family: fantasy;
        font-size: 50px;
        margin-bottom: 20px;
      }
    }
    .seeProd {
      .seeProdBtn {
        height: 60px;
        width: 150px;
        border-radius: 10px;
        cursor: pointer;
        margin-top: 50px;
        padding: 10px;
        background-image: linear-gradient($secondary, $white);
        border: 2px solid $secondary;
        border-radius: 10px;
        transition: all 0.3s;
        &:hover{
          transform: scale(1.1);
          transition: 0.3s ;
        }
      }
    }
  }
}
