<header>
  <app-header></app-header>
</header>
<section class="prodSect pt-5 px-3">
  <div class="menCont">
    <div class="py-3 fashion">
      <h2>Men</h2>
    </div>
    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of men">
          <div class="card prod">
            <div class="card-header">
              <img src="{{ item.src }}" class="img-fluid" alt="item" />
            </div>
            <div class="card-body text-dark">
              <span>Denim Jeans</span><br />
              <span>Price : ${{ item.price }}</span>
            </div>
            <div class="card-footer">
              <button type="button" class="addToCart">Add to Cart</button>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="electronicsCont">
    <div class="py-3 fashion">
      <h2>Women</h2>
    </div>
    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of women">
          <div class="card prod">
            <div class="card-header">
              <img src="{{ item.src }}" class="img-fluid" alt="item" />
            </div>
            <div class="card-body text-dark">
              <span>Denim Jeans</span><br />
              <span>Price : ${{ item.price }}</span>
            </div>
            <div class="card-footer">
              <button type="button" class="addToCart">Add to Cart</button>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>
  <div class="foodCont">
    <div class="py-3 fashion">
      <h2>Children</h2>
    </div>
    <div class="row">
      <owl-carousel-o [options]="customOptions">
        <ng-template carouselSlide *ngFor="let item of children">
          <div class="card prod">
            <div class="card-header">
              <img src="{{ item.src }}" class="img-fluid" alt="item" />
            </div>
            <div class="card-body text-dark">
              <span>Denim Jeans</span><br />
              <span>Price : ${{ item.price }}</span>
            </div>
            <div class="card-footer">
              <button type="button" class="addToCart">Add to Cart</button>
            </div>
          </div>
        </ng-template>
      </owl-carousel-o>
    </div>
  </div>

  <footer>
    <app-footer></app-footer>
  </footer>
