@import '../../../../styles.scss';
.footer{
  height: 90px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
  background-image: linear-gradient($primary, $primary2);
  border-top: 2px solid $secondary;
  p{
    margin-bottom: 0;
  }
}
